page-contact {


.menu .item-inner {
  margin: 0 !important;
}

.menu .label {
  font-size: 15px !important;
}

.menu.item-block {
  min-height: 38px !important;
  padding: 12px !important;
  background: #eee;
  border-bottom: 1px solid #ddd;
}
}


