<ion-content>
  <div #map id="map" style="height: 75%">


    <ion-icon color="primary" name="arrow-round-back" class="ion-style" (click)="goBack()"></ion-icon>


    <ion-fab right top (click)="getMyLocation()">
      <button ion-fab>
        <ion-icon name="locate"></ion-icon>
      </button>
    </ion-fab>

    <ion-fab center middle class="mgleft-ng16">
      <img src="assets/imgs/marker_pin.png" item-center height="40px">
    </ion-fab>

  </div>

  <ion-footer>
    <div class="ion-footer">
      <div *ngIf="showMap">
        <div *ngIf="this.calledFrom == 'login'">
          <p class="warning fs-15">Seems like your address is outdated , please update your address</p>
        </div>
        <ion-row>
          <ion-col>
            <ion-row>
              <ion-col><b class="fs-18">Pick delivery location</b></ion-col>
              <ion-col col-1>
                <ion-icon (click)="btnMoreDetails(false)" *ngIf="showDetails" name="arrow-down"
                          color="primary"></ion-icon>
              </ion-col>
            </ion-row>

            <ion-item (click)="showAddressModal()">
              <ion-label stacked>ADDRESS</ion-label>
              <ion-input [(ngModel)]="userAddr" type="text"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="showDetails">
          <ion-col>
            <ion-item>
              <ion-label stacked>FLAT NO</ion-label>
              <ion-input [(ngModel)]="buildingname" type="text"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="showDetails">
          <ion-col>
            <ion-item>
              <ion-label stacked>LANDMARK</ion-label>
              <ion-input [(ngModel)]="landMark" type="text"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row class="mgtop-10">
          <button ion-button col block outline class="fs-12" *ngIf="!showDetails" (click)="btnMoreDetails(true)">Add
            More
            Details
          </button>
          &nbsp;&nbsp;&nbsp;
          <button ion-button col color="primary" class="fs-12" block (click)="confirmLocation()">
            {{'MAP_PAGE.BUTTONS.btn_confirm_loc' | translate }}
          </button>
        </ion-row>
      </div>
      <div *ngIf="!showMap">
        <p class="warning fs-15">Sorry! currently we are not serving in selected location</p>
      </div>
    </div>
  </ion-footer>
</ion-content>
