
map-page {
  ion-app._gmaps_cdv_ .nav-decor {
    background-color: transparent !important
  }
  .ion-footer {
    height: 25% !important;
    padding: 15px !important;
    background: #fff !important;
  }
  .scroll {
    height: 100%
  }
  .item-md {
    padding-left: 0px;
  }
  .fs-12 {
    font-size: 12px;
  }
  //ios
  .item-block {
    padding-left: 0px;
  }
  .ion-style {
    margin: 15px 20px;
    font-size: 25px;
    font-weight: bold;
  }
  #map {
    width: 100%;
    height: 80%;
  }
  .fs-18 {
    font-size: 18px !important;
  }
  .icon-md-primary {
    font-size: 3.0em !important;
  }
  .marquee {
    width: 450px;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    animation: marquee 50s linear infinite;
  }

  .marquee:hover {
    animation-play-state: paused
  }

  ion-fab[middle] {
    margin-top: 0 !important;
    top: 30% !important;
    left: 47% !important;
  }

  .fab {
    height: 45px;
    width: 45px;
  }

  .fab ion-icon {
    font-size: 15px;
  }

  .bg-warning {
    background: #eea236;
  }

  .mgleft-ng16 {
    margin-left: -16px !important;
  }

  .srch_bar {
    width: auto;
  }

  .loc_confirm {
    border-radius: 3px;
    padding: 3px;
    //font-size: 12px;
    color: #fff;
    font-size: 1.5rem !important;
    text-transform: capitalize;
  }
  @media screen and (min-width: 320px) and (max-width: 480px) {
    .fs-12 span{
      font-size:  12px !important;
    }
    ion-footer span {
      font-size: 12px;
    }
    .mgtop-10{
      padding-left: 3px !important;
    }
  }
  @media screen and (min-width: 481px) and (max-width: 600px) {
    .fs-12 span{
      font-size:  12px !important;
    }
    ion-footer span {
      font-size: 12px;
    }
    .mgtop-10{
      padding-left: 3px !important;
    }

  }
  @media screen and (min-width: 601px) and (max-width: 800px) {
    .fs-12 span{
      font-size:  12px !important;
    }
    ion-footer span {
      font-size: 12px;
    }
    .mgtop-10{
      padding-left: 3px !important;
    }
  }
  @media screen and (min-width: 801px) and (max-width: 1024px) {
    .fs-12 span{
      font-size:  14px !important;
    }


  }
  @media screen and (min-width: 1025px) and (max-width: 1600px) {
    .fs-12 span{
      font-size:  15px !important;
    }

  }
  @media screen and (min-width: 1600px) and (max-width: 2000px) {
    .fs-12 span{
      font-size:  15px !important;
    }

  }


}
