page-edit-address {
  .textarea{
    .text-input-md {
      height: 50px !important;
    }
  }
  .footer-md{
  .toolbar-background-md {
    background: transparent !important;
  }
  }
  .item-md{
    padding-left: 0px !important;
  }

  .mgtop-10{
    margin-top: 10px;
  }
}
