page-home {
  .scroll-content {
    margin: 42px 0px !important;
    overflow: hidden;
    margin-bottom: 0px !important;

  }
  .card-content-md {
    padding: 5px 10px 0px 10px !important;
  }
  .item-block {
    height: 3.5rem !important;
    font-size: 20px !important;
    font-weight: bold;
    color: #333 !important;
  }
  ion-footer strong {
    font-size: 18px;
    color: #333;
  }
  .slide-zoom {
    text-align: center;
    display: block;
    width: 100%;
    background: #f1f1f2;
    max-height: 375px !important;
    overflow-y: auto !important;
    padding-bottom: 55px !important;
  }
  .toolbar-content .row .col {
    padding: 0px !important;
  }
  .button-small-md {
    height: 2.7em;
    font-size: 1.2rem;
  }
  .btn-lg {
    height: 4rem !important;
  }
  .footer .toolbar-background-md {
    background: #ffffff !important;
  }
  .brand_name {
    margin-left: 5px;
  }
  .mgtopbtm-ng7 {
    //margin: -5px 0px -4px !important;
    //margin: -5px 0px -4px !important;
    margin: 5px 0px 12px !important;

  }
  .prdct_list_container_bg {
    margin: 80px 0 70px 0;
  }
  .prdct_list_container h6 {
    font-size: 1.2em;
  }
  .img-style {
    width: 80px;
    height: 115px;
    margin: 10px 0;
    margin-left: auto;
    margin-right: auto;
  }
  @media only screen and (max-width: 320px) {
    .slide-zoom {
      max-height: 350px !important;
    }
    .card-md {
      padding: 5px;
      max-height: 300px !important;
      overflow: auto;
    }
    .img-style {
      width: 50px !important;
      height: 80px !important;
      // margin: 0px 15px !important;
    }
    .btn-lg {
      height: 3rem !important;
      font-size: 12px;
    }
  }
  @media (min-width: 321px) and (max-width: 400px) {
    .slide-zoom {
      max-height: 400px !important
    }
  }
  @media (min-width: 401px) and (max-width: 480px) {
    .slide-zoom {
      max-height: 535px !important
    }
  }
  @media (min-width: 481px) and (max-width: 767px) {
    .slide-zoom {
      max-height: 430px !important;
    }
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    .slide-zoom {
      max-height: 430px !important;
    }

  }
  .product_thumb img {
    margin: 0px auto;
    width: 60px;
    height: 70px;
    padding: 5px 10px;
  }

  .product_thumb {
    height: 70px;
    width: 80px;
    margin: -65px 39% 12px !important;
    padding-top: 5px !important;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    box-shadow: 0px -15px 58px -13px #aaa;
    // border: 1px solid #0f75bc;
    border-bottom: 1px solid #fff;
    padding-top: 5px !important;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background: #fff;
  }
  .effect2 {
    position: relative;
    box-shadow: 0px 0px 25px #aaa;
  }
  .brand-font {
    font-family: "Ubuntu", Roboto, sans-serif;

  }
  .prdct_list_container {
    border: none !important
  }
  .prdct_list_container_bg {
    margin: 75px 5px 50px 5px;
    border-radius: 0px !important;
  }
  .product_dtls_prc_cntnr {
    padding-bottom: 1px !important
  }

  @media screen and (min-width: 480px) and (max-width: 600px) {
    .product_thumb {
      margin: -65px 43% 12px !important;
    }
    .ad_quantity {
      width: 130px;
    }
  }
  @media screen and (min-width: 601px) and (max-width: 800px) {
    .product_thumb {
      margin: -65px 45% 12px !important;
    }
    .ad_quantity {
      width: 130px;
    }
  }
  @media screen and (min-width: 801px) and (max-width: 1024px) {
    .product_thumb {
      margin: -65px 46% 12px !important;
    }
    .ad_quantity {
      width: 130px;
    }
  }
  @media screen and (min-width: 1025px) and (max-width: 1600px) {
    .product_thumb {
      margin: -65px 47% 12px !important;
    }
    .ad_quantity {
      width: 130px;
    }
  }
  @media screen and (min-width: 1600px) and (max-width: 2000px) {
    .product_thumb {
      margin: -65px 48% 12px !important;
    }
    .ad_quantity {
      width: 130px;
    }
  }

  .brand-style {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 12px;
    padding: 2px 5px;
    background: #eee;
  }

  .wh-90x110 {
    width: 90px;
    height: 110px;
  }

  .rotate180 {
    transform: rotate(180deg);
  }
  .mgbtm-3 {
    margin: 3px 0px;
  }

  .brd-right {
    border-right: 2px solid #999;
  }
  .input-wrapper {
    font-size: 20px !important;
  }
  .item.item-md .checkbox-md {
    margin: 5px !important;
  }
  .nobrd-btm .item-inner {
    border-bottom: none !important;
  }
  .nobrd-btm .item-inner .input-wrapper {
    font-size: 12px !important;
  }
  .wh-90x110 {
    width: 90px;
    height: 110px;
  }

  .rupee-style p {
    margin: 0px;
  }
  .minorder-style {
    margin-bottom: 5px;
  }

  .header-style {
    padding: 0px 5px;
    background: #ddd;
    border-bottom: 1px solid #ccc;
  }

  .fs-15 .input-wrapper {
    font-size: 15px !important;
    font-weight: 400;
  }

  .item-md {
    padding-left: 0px;
  }

  .brand_name {
    margin-left: 5px;
  }
  .bg-style {
    background: white !important;
    text-transform: capitalize;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .prdct_list_container {
    border: none !important
  }
  .mgtopbtm-ng7 {
    margin: 5px 0px 12px !important;
  }
  .effect2 {
    position: relative;
    box-shadow: 0px 0px 25px #aaa;
  }
  .gray6 {
    color: #666666;
  }
  .bottle_name {
    font-size: 16px !important;
    font-weight: bold !important;
    color: #000 !important;
  }
  .bottle_exp_time {
    font-size: 1.4rem !important;
    color: #999;
    margin: 5px 0 !important;
  }
  .hover_button {
    border-radius: 4px;
    background-color: #ed9a00;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 1.4rem;
    padding: 10px;
    width: 100%;
    transition: all 0.5s;
    cursor: pointer;
    padding-right: 5px;
  }
}
