page-editemptycan {
  .footer-md{
    .toolbar-background-md {
      background: transparent !important;
    }
  }
  .item-md{
    padding-left: 0px !important;
  }

  .mgtop-10{
    margin-top: 10px;
  }
  .editaddr{
    max-height: 55% !important;
  }
  .fs-20b {
    font-size: 20px !important;
    font-weight: bold !important;
    padding: 4px 8px;
    border: 1px solid #0f75bc;
    background: #0f75bc !important;
    color: #fff !important;
  }
  .input-style {
    width: 100%;
    height: 30px;
    font-size: 18px;
    border: none;
    color: #333;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid #666;
  }
  .amt-style{
    background: #f1f5f7;
    padding: 10px 10px 0px;
    border: 1px solid #ddd;
  }
  .blink_me {
    animation: blinker 2s linear infinite;
  }

  @keyframes blinker {
    50% {
      opacity: 0.2;
    }
  }
}
