<div>
  <div class="container-row">
    <ion-row justify-content-center class="no_padding type-position">
      <ion-col>
        <div class="rupee-style ">
          <b>M.R.P. {{mainItem.pcost}}
            <small>/unit</small>
          </b>
        </div>
      </ion-col>
      <ion-col class="right mgright-15">
        <span></span>
        <i class="ptype-style">{{mainItem.pname}}</i>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center class="mgtop-30">
      <ion-col col-2 align-self-center>
        <div class="center">
          <img src="assets/imgs/img_arrow.png" class="wh-20x25" *ngIf=" mainIndex != 0 " (click)="goToPreviousSlide()">
        </div>
      </ion-col>
      <ion-col col align-self-center class="center no_padding ">
        <ion-row>
          <ion-col class="no_padding ">
            <img src="{{mainItem.product_img ? mainItem.pimage+defpng : 'assets/imgs/img_noproduct.png'}}"
                 class="wh-75x120" (error)="changeImage(mainItem)">
          </ion-col>

        </ion-row>
      </ion-col>

      <ion-col col-2 align-self-center>
        <div class="center " (click)="goToNextSlide()" *ngIf=" mainIndex != (brandProducts.length -1) ">
          <img src="assets/imgs/img_arrow.png" class="wh-20x25 rotate180">
        </div>
      </ion-col>
    </ion-row>
  </div>
  <ion-row justify-content-center align-items-center class="mgbtm-3" *ngIf="mainItem.stockstatus != 'soldout'">
    <ion-col col-2 class="right">
      <ion-icon name="remove" class="fs-20b" (click)="clickMinus(mainItem)"></ion-icon>
    </ion-col>
    <ion-col col-3 align-self-center>
      <input type="tel" placeholder="Items" type="tel" ng-pattern="[0-9]*" minlength="1" maxlength="3"
             [(ngModel)]="mainItem.count"
             (input)="prodCountChangeListener(mainItem)" class="input-style"/>
    </ion-col>
    <ion-col col-2 class="left">
      <ion-icon name="add" class="fs-20b" (click)="clickPlus(mainItem)"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-row justify-content-center align-items-center class="mgbtm-3" *ngIf="mainItem.stockstatus == 'soldout'">
    <span class="danger sold-style">Soldout</span>
  </ion-row>
  <ion-row>
    <ion-col class="nobrd-btm center" *ngIf="mainItem.count && mainItem.count > 0">
      <ion-label class="fs-14">
        <ion-checkbox [(ngModel)]="mainItem.emptycan" (ionChange)="changeEmptyCan(mainItem)"></ion-checkbox>
        <span class="pdleft-18">Have empty bottle to return</span>
        <b ngClass="{{mainItem.emptycount < mainItem.count ? 'danger' : 'success'}}"
           *ngIf="mainItem.emptycan && mainItem.emptycount && mainItem.emptycount > 0">
          ({{mainItem.emptycount}})</b>
      </ion-label>
    </ion-col>
  </ion-row>
  <div *ngIf="mainItem.stockstatus !='soldout'">
    <ion-row justify-content-center class="mgbtm-10" *ngIf="!mainItem.emptycan || mainItem.emptycount < mainItem.count">
      <span class="danger fs-12">You will be charged Rs.150(refundable) for one empty can</span>
    </ion-row>
  </div>
  <div *ngIf="mainItem.stockstatus !='soldout'">
    <ion-card class="" *ngFor="let item of mainItem.products; let i = index">
      <ion-row class="">
        <ion-col col align-self-center style="background:#fff2cc !important;" *ngIf="i== 0"
                 [ngClass]="item.selected ? 'brd-success': ''">
          <span class="fs-12">Delivery charge for {{item.ptype}} is INR
            <b>{{item.servicecharge}}</b>/can. There are no savings. </span>
          <ion-icon name="checkmark-circle" class="selected-icon"
                    *ngIf="item.selected"></ion-icon>
        </ion-col>

        <ion-col col align-self-center style="background:#ffe699 !important;" *ngIf="i== 1"
                 [ngClass]="item.selected ? 'brd-success': ''">
          <span class="fs-12">Delivery charge for {{item.ptype}} is INR
            <b>{{item.servicecharge}}</b>/can.
            <span> You will save {{100-(item.servicecharge*100 /mainItem.products[0].servicecharge) | number}}% on delivery charge</span>
          </span>
          <ion-icon name="checkmark-circle" class="selected-icon" *ngIf="item.selected"></ion-icon>
        </ion-col>
        <ion-col col align-self-center style="background:#fed866 !important;" *ngIf="i== 2"
                 [ngClass]="item.selected ? 'brd-success': ''">
          <span class="fs-12">Delivery charge for {{item.ptype}} is INR
            <b>{{item.servicecharge}}</b>/can.
            <span> You will save {{100-(item.servicecharge*100 /mainItem.products[0].servicecharge) | number}}% on delivery charge</span>
          </span>
          <ion-icon name="checkmark-circle" class="selected-icon" *ngIf="item.selected"></ion-icon>
        </ion-col>
        <ion-col style="background:#fed866 !important;" *ngIf="i > 2" [ngClass]="item.selected ? 'brd-success': ''">
          <span class="fs-12">Delivery charge for {{item.ptype}} is INR
            <b>{{item.servicecharge}}</b>/can.
            <span> You will save {{100-(item.servicecharge*100 /mainItem.products[0].servicecharge) | number}}% on delivery charge</span>
          </span>
          <ion-icon name="checkmark-circle" class="selected-icon" *ngIf="item.selected"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
</div>
