select-product-view {

  ion-header ion-buttons .bar-button-md {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  }
  .mgright-15{
    margin-right: 15px;
  }
  .mgtopbottom-10 {
    margin: 10px 0px;
  }
  .mgbottom-5 {
    margin-bottom: 5px;
  }
  .mgtop-30{
    margin-top: 30px;
  }
  .img-rupee {
    width: 15% !important;
  }
  .mgtopbottom-0x5 {
    margin-top: 0px !important;
    margin-bottom: 5px !important;
    text-transform: capitalize;
  }
  .mgtopbottom-0x10 {
    margin-top: 0px !important;
    margin-bottom: 10px !important;
  }
  .pdleftright-2 .col {
    padding: 0px 2px;
  }
  .brand-style {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 10px;
    padding: 1px 5px;
    background: #eee;
  }
  ion-header ion-buttons .bar-button-md {
    background: #0f75bc !important;
    color: #fff !important;
    height: 25px !important;
  }
  ion-header ion-buttons .bar-button-md .button-inner span {
    font-size: 12px;
  }
  .dottedborder {
    margin: 0px 15px;
    padding: 5px;
    border: 2.1px dotted #999;
  }
  //.mgtop-45pc{
  //  margin-top: 45%;
  //}

  .rotate180 {
    transform: rotate(180deg);
  }
  .mgright-5 {
    margin-right: 5px !important;
  }
  .sold-style {
    border: 2px solid;
    padding: 2px 10px;
  }

  .mgbtm-3 {
    margin: 5px 0px;
  }
  .checkbox-md {
    position: absolute !important;
    display: inline-block !important;
    top: 4px !important;
  }
  .brd-right {
    border-right: 2px solid #999;
  }
  .pdleft-18 {
    padding-left: 18px !important;
  }
  .input-wrapper {
    font-size: 20px !important;
  }
  .item.item-md .checkbox-md {
    margin: 5px !important;
  }
  .nobrd-btm .item-inner {
    border-bottom: none !important;
  }
  .nobrd-btm .item-inner .input-wrapper {
    font-size: 12px !important;
  }
  .wh-20x25 {
    width: 20px !important;
    height: 25px !important;
  }
  .wh-75x120 {
    width: 85px !important;
    height: 115px !important;
    margin-bottom: 5px;
    // visibility: hidden;
  }
  h6.mgtopbottom-0x5 {
    font-size: 1.4rem !important;
    font-weight: bold !important;
  }
  .container-row {
    padding-top: 15px;
    height: 180px;
    padding-bottom: 10px;
    background: url(../assets/imgs/img_bgwater.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
  }
  .no_padding .col {
    padding: 0px !important;
  }
  //.rupee-style {
  //  width: 42%;
  //  font-size: 14px;
  //  padding: 2px 30px 2px 0px;
  //  color: #fff;
  //  background: #c00;
  //  background: linear-gradient(230deg, transparent 15px, red 0) top right;
  //  background-repeat: no-repeat;
  //}
  .rupee-style {
    //width: 42%;
    width: 78%;
    font-size: 14px;
    padding: 4px 28px 4px 3px;
    color: #fff;
    background: #c00;
    background: linear-gradient(230deg, transparent 22px, red 0) top right;
    background-repeat: no-repeat;
  }
  .rupee-style1 {
    //width: 42%;
    font-size: 16px;
    padding: 4px 30px 5px 0px;
    color: #fff;
    background: #c00;
    background: linear-gradient(230deg, transparent 22px, red 0) top right;
    background-repeat: no-repeat;
  }
  .saved-style {
    //line-height: 2.3;
    color: #333;
    font-size: 15px;
  }
  .card-md .saved-style {
    margin: 0 0 -3px !important;
  }
  .slide-zoom {
    color: #333;
    font-size: 15px !important;
  }
  .type-position {
    position: absolute;
    width: 100%;
  }

  .minorder-style {
    text-align: center;
    width: 53%;
    height: 80px;
    /* right: 1%; */
    left: 58%;
    padding-right: 48px !important;
    line-height: 1.3 !important;
    top: 25%;
    font-weight: 500;
    line-height: 16px;
    position: absolute;
    background: url(../assets/imgs/img_zigzag.png);
    padding: 19px 20px 10px 5px;
    font-size: 10px;
    font-weight: 500;
    background-repeat: no-repeat;
    background-size: contain;
    color: #ff0000;

  }
  .rupee-style p {
    margin: 0px;
  }
  .minorder-style p {
    margin: 0px;
  }
  .header-style {
    padding: 0px 5px;
    background: #ddd;
    border-bottom: 1px solid #ccc;
  }
  .card-md {
    padding: 0px !important;
    margin: 7px !important;
  }
  .brdbtm-mg5 {
    margin: 0px 15px 10px 15px;
    padding: 0px 10px 5px;
    background: #f1f5f7;
    border: 1px dashed #999;
    /* border-style: dashed; */
    border-radius: 10px;
  }
  .brdbtm-mg5 .col {
    padding: 2px !important;
  }
  .input-style {
    width: 100%;
    height: 30px;
    font-size: 18px;
    border: none;
    color: #333;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid #666;
  }
  .wh-80x120 {
    width: 80px !important;
    height: 120px !important;
  }
  .wh-90x150 {
    width: 90px !important;
    height: 150px !important;
  }
  .fs-20b {
    font-size: 20px !important;
    font-weight: bold !important;
    padding: 4px 8px;
    border: 1px solid #0f75bc;
    background: #0f75bc !important;
    color: #fff !important;
  }
  .item-block {
    height: 3.5rem !important;
    font-size: 20px !important;
    font-weight: bold;
    background: transparent !important;
    color: #333 !important;
  }
  .fs-15 .input-wrapper {
    font-size: 15px !important;
    font-weight: 400;
  }
  .fs-15 {
    font-size: 15px !important;
  }

  .item-md {
    padding-left: 0px;
  }

  .brand_name {
    margin-left: 5px;
  }
  .bg-style {
    background: white !important;
    text-transform: capitalize;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  .prdct_list_container {
    border: none !important
  }
  .mgtopbtm-ng7 {
    margin: 5px 0px 12px !important;
  }
  .effect2 {
    position: relative;
    box-shadow: 0px 0px 25px #aaa;
  }
  .swiper-container {
    height: initial !important;
  }

  .button-small-md {
    font-size: 12px !important;
    height: 35px !important;
    border-radius: 5px !important;
  }
  .back-button-md {
    margin: 0px !important;
  }
  .schedule_radiobtn.item-md ion-label {
    padding: 5px !important;
  }
  .slide-scroll {
    min-height: 300px !important;
    overflow-y: auto !important;
  }
  //  .header_icon{
  //  margin: 0px 0px -4px 0px !important;
  //}
  .footer .toolbar-background-md {
    background: #f1f1f2 !important;
    border: 1px solid red !important;
  }
  .fs-20b {
    font-size: 20px !important;
    font-weight: bold !important;
    padding: 4px 8px;
    border: 1px solid #0f75bc;
    border-radius: 5px;
  }
  .ptype-style {
    border-radius: 50% !important;
    background: orange !important;
    font-weight: bold !important;
    text-align: center;
    height: 35px;
    font-size: 14px;
    line-height: 24px;
    width: 35px !important;
    float: right;
    line-height: 2.5;
    font-style: italic;
  }
  .input-style {
    width: 100%;
    height: 30px;
    font-size: 18px;
    border-radius: 5px;
    //border: none;
    color: #333;
    text-align: center;
    font-weight: bold;
    border: 1px solid #0f75bc;
  }
  .prdct_list_container_bg {
    margin: 70px 5px 75px 5px;
  }
  .prdct_list_container h6 {
    font-size: 1.4em;
  }
  .brand-font {
    font-family: "Ubuntu", Roboto, sans-serif;

  }
  .product_thumb img {
    margin: 0px auto;
    width: 60px;
    height: 70px;
    padding: 5px 10px;
  }
  .product_thumb {
    height: 70px;
    width: 80px;
    margin: -75px 39% 7px !important;
    padding-top: 5px !important;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    // border: 1px solid #0f75bc;
    box-shadow: 0px -15px 58px -13px #aaa;
    border-bottom: 1px solid #fff;
    padding-top: 5px !important;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background: #fff;
    text-align: center;
    display: inline-block;

  }

  .prdct_list_container_bg {
    margin: 80px 0 50px 0;
    border-radius: 0px !important;
  }
  .product_dtls_prc_cntnr {
    padding-bottom: 1px !important
  }

  .prdct_main_container {
    background: #eee;
    padding: 10px;
    margin: 0 !important;
  }

  .prdct_list_container {
    border-radius: 3px;
    //height: 88px;
    box-shadow: none;
    padding: 0;
  }

  .prdct_list_container_bg {
    background: #fff;
    margin: 38px 0 50px 0;
    padding: 0 12px;
  }

  .display_list .label.label-md {
    margin: 0 !important;
  }

  .display_list .item-inner {
    border: 1px solid #dedede;
  }

  .brand_name {
    font-size: 1.7rem;
    font-weight: 400;
    color: #0f75bc;
    font-family: "Ubuntu", Roboto, sans-serif;
  }

  .soldout {
    background: red;
    padding: 5px;
    float: right;
    border-radius: 3px;
    color: #fff;
  }

  .toolbar-content-ios {
    font-size: 10px !important;
  }

  .prodct_descp {
    font-family: "Segoe UI";
    font-size: 12px;
    color: #646464;
    font-weight: bold;

  }

  .product_thumb img {
    margin: 0 auto;
    /* max-width: 85px; */
    height: 60px;
    /* display: inline-flex; */
  }

  .per_bottle {
    font-weight: normal;
    font-size: 12px;
    color: #646464;
  }
  .label-md {
    margin: 0px 0px 5px 0px !important;
  }
  .per_unit_label {
    font-size: 12px;
    color: #646464;
    margin-bottom: 5px;
    width: 100%;
    display: block;
  }

  .ad_quantity {
    background: #F3F3F3;
    width: 120px;
    float: right;
    border: 1px solid #ddd;
    color: #424344;
    // padding: 5px 6px;
    margin: 0 0px 3px 0px;
  }

  .icon-style_add {
    // padding: 5px 10px;
    // border-radius: 50%;
    color: #333;
    // float: right;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 10px;
    border-left: 1px solid #ddd;
  }

  .ad_quantity .product_count {
    padding: 0px 5px 0px 5px;
    width: 50px;
    margin: 0px !important;
    /* float: left; */
    text-align: center;
    display: inline-block;
  }

  .icon-style_remove {
    color: #333;
    float: left;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 10px;
    border-right: 1px solid #ddd;
  }

  .dtls_ad_remove_div {
    border-bottom: 1px solid #ccc;
  }

  .perunit_lbl {
    background: #0f75bc;
    padding: 5px;
    color: #fff;
    border-radius: 3px;
    font-weight: normal;
  }

  .btn-3::after{
    left: 0;
    bottom: 0;
    transition-delay: 0.6s;
  }
  .btn-3 span::after{
    transition-delay: 0.4s;
    right: 0;
    bottom: 0
  }
  .btn-3::before{
    right: 0;
    top: 0;
    transition-delay: 0.2s;
  }
  .btn-3 span::before{
    transition-delay: 0s;
    left: 0;
    top: 0;
  }

  .btn-3::after{
    transition-delay: 0s;
  }
  .btn-3 span::after{
    transition-delay: 0.2s;
  }
  .btn-3::before{
    transition-delay: 0.4s;
  }
  .btn-3 span::before{
    transition-delay: 0.6s;
  }
.brd-success{
  border: 2px solid #4cae4c;
}
  .selected-icon{
    position: absolute;
    right: 0px;
    top: -1px;
    color: #4cae4c;
  }



}
