page-simpledialog {
    .card-md {
        margin: auto;
    width: 95%;
    color: #fff !important;
    text-align: center;
    background: url(../assets/imgs/bg_20.jpg);
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    }
    // .card-md p{
    //     font-size: 16px;
    //     // color: #fff !important;
    // }
    .card-ios{
        margin: auto;
        width: 95%;
        color: #fff !important;
        text-align: center;
        background: url(../assets/imgs/bg_20.jpg);
        border-radius: 15px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center; 
    }
    .card-ios h1{
        color: #fff !important;
        margin: 15px;
        font-size: 25px;
    }
    .card-ios h3{
        line-height: 1.6;
        color: #fff !important;
        margin-left: 15px;
    }
.card-md h1{
    color: #fff !important;
    margin: 15px;
    font-size: 30px;
}
.card-md h3{
    line-height: 1.6;
    color: #fff !important;
    margin-left: 15px;
}
.card-ios p{
    margin: 5px 0 2px;
    color: #fff !important;
    line-height: 1.6;
    }
    .card-ios img{
        width: 90%;
        margin: auto !important;
    }
    .card-ios h4{
        color: #fff !important;
        line-height: 1.8;
    }
.scroll-content {
    background: #f1f1f2 !important;
}
.card-md p{
margin: 5px 0 2px;
color: #fff !important;
line-height: 1.6;
}
.input{
    padding-right: 20px !important;
}
.wd-20pc{
    width: 20% !important;
}
.card-md h4{
    color: #fff !important;
    line-height: 1.8;
}
.text-input{
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}
.text-input-md {
    margin: 10px 8px;
}
.card-md img{
    width: 90%;
    margin: auto !important;
}
.wd-100pc{
    width: 100%
}
.code-style{
     border: 1px dotted #fce05f;
padding: 5px;
border-radius: 5px;
margin-left: 15px;
}
}