page-welcome {
  .poweredBy {
    position: fixed;
    bottom: 0px;
    text-align: center;

  }
  .label-md {
    margin: 5px 0px !important;
  }
  .item-md.item-block .item-inner {
    padding-right: 0px;
  }
  .marquee {
    height: 25px;
    width: 500px;
    line-height: 2;
    overflow: hidden;
    position: relative;
  }
  .marquee div {
    display: block;
    width: 200%;
    height: 30px;
    position: absolute;
    overflow: hidden;

    animation: marquee 5s linear infinite;
  }
  .powerBy-style {
    margin-top: 20%;
    text-align: center;
  }
  .powerBy-style img {
    width: 80%;
    margin-left: 10%;
  }
  .button-large-md {
    height: 30px;
  }
  .login-img {
    width: 34% !important;
    height: 34%;
    margin: 30px auto 50px;
  }
  .item-md {
    padding-left: 0px;
  }

  .login_fields {
    margin: -22px 30px 10px;
    background: #fff;
    padding: 30px 30px 10px 30px;
    height: auto;
    border-radius: 6px;
    -webkit-box-shadow: 0px 0px 24px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 24px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 24px -1px rgba(0, 0, 0, 0.75);

  }

}

.card-ios p {
  margin: 0 20px;
}

.justify {
  text-align: justify;
}

.no_bg {
  background: transparent;
}

.no_shadow {
  box-shadow: none;
}

.scroll-content {
  background: #ffffff !important;
}

.logo_container {
  margin: 0 !important;
  width: 100%;
  padding: 0 !important;
  background: rgba(88, 159, 209, 1);
  background: -moz-linear-gradient(top, rgba(88, 159, 209, 1) 0%, rgba(72, 139, 255, 1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(88, 159, 209, 1)), color-stop(100%, rgba(72, 139, 255, 1)));
  background: -webkit-linear-gradient(top, rgba(88, 159, 209, 1) 0%, rgba(72, 139, 255, 1) 100%);
  background: -o-linear-gradient(top, rgba(88, 159, 209, 1) 0%, rgba(72, 139, 255, 1) 100%);
  background: -ms-linear-gradient(top, rgba(88, 159, 209, 1) 0%, rgba(72, 139, 255, 1) 100%);
  background: linear-gradient(to bottom, rgba(88, 159, 209, 1) 0%, rgba(72, 139, 255, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#589fd1', endColorstr='#488bff', GradientType=0);
}

.orOption {
  background: #ccc;
  margin: 0 auto 65px;
  padding: 11px;
  border-radius: 45px;
  /* float: left;*/
  display: block;
  width: 37px;
  text-align: center;
}

.btn_signinCntnr {
  text-align: center;
  margin-top: 5px;
}

.p-terms {
  text-align: center;
  margin-top: 10px;
  font-size: 1.0rem !important;
}

.btn_signIn {
  padding: 40px;
  margin-top: 8px;
}

.login-img {
  width: 34% !important;
  height: 34%;
  margin: 0px auto 50px;
}

.welcome_text {
  margin-top: 20px !important;
  line-height: 18px;
  font-size: 1.4rem;
  font-family: myfont !important;
}

.logo_container .no_bg {
  padding: 0;
}

.usr_namefeild {
  border-bottom: 1px solid #0f75bc;
}

.input_container {
  margin-top: 5px;
  padding: 0 !important;
}

.enter_nmbr {
  padding: 0;
  margin-top: 15px !important;
}

.btn_signin {
  background: #0f75bc;
  color: #fff;
  height: 60px;
  padding: 20px 45px;
  width: 210px;
  display: block;
  margin: auto;
  border-radius: 45px;
  margin-bottom: -20px;
  -webkit-box-shadow: 0px 0px 58px -1px #0f75bc;
  -moz-box-shadow: 0px 0px 58px -1px #0f75bc;
  box-shadow: 0px 0px 58px -1px #0f75bc;
  letter-spacing: 3px;
}

.signup-col {
  z-index: 1000;
  margin-top: -34px;
}

.sign_toplabel {
  text-align: center;
  font-size: 15px;
  font-family: myfont
}

.btn_signinCntnr .label {
  font-size: 1.4rem;
  font-family: myfont;
  color: $sign-inlabel;
  font-size: $sign-inlabel_font;
}

.input_container .item-md.item-block {
  padding-right: 0px !important;
}

.alert-button-group {
  border-top: 1px solid #ddd;
}

.font-fam {
  font-family: myfont;
  font-size: 14px;
}
