<ion-content>

  <ion-spinner *ngIf="showLoading" block class="spinner_center" name="crescent" color="primary"></ion-spinner>

  <div *ngIf="noInternet" class="empty_middle_text_center" text-center="true">
    <h4>No Internet connection</h4>
      <h4>
        Please check your internet connectivity and try again
      </h4>
    <button ion-button (click)="appFirstCall()">RETRY</button>
  </div>

  <div *ngIf="showScreen">
    <ion-row>
      <ion-card class="logo_container">

        <ion-item class="no_bg">
          <img src="assets/imgs/ic_launcher.png" class="login-img">
        </ion-item>
      </ion-card>
    </ion-row>

    <ion-row>

      <ion-card col class="no_bg no_shadow login_fields">
        <span class="justify welcome_text">{{ 'WELCOME_PAGE.PAGE_TITLE' | translate }}</span>

        <ion-item class="no_bg input_container">
          <ion-label floating>{{ 'WELCOME_PAGE.LABELS.lb_mobile_no_hint' | translate }}</ion-label>
          <ion-input class="usr_namefeild" pattern="[0-9]*" type="tel" maxlength="10" minlength="10"
                     [(ngModel)]="mobileNumber"
                     required></ion-input>
        </ion-item>
        <ion-row *ngIf="!showSupplierCode" margin-top="10px">
          <span (click)="showSupplier()">{{ 'WELCOME_PAGE.LABELS.lb_supp_code_title_1' | translate }}
            <span class="primary">{{ 'WELCOME_PAGE.LABELS.lb_supp_code_title_2' | translate }}</span></span>
        </ion-row>
        <ion-item class="no_bg input_container" *ngIf="showSupplierCode">
          <ion-label floating>{{ 'WELCOME_PAGE.LABELS.lb_supp_code_hint' | translate }}
          </ion-label>
          <ion-input class="usr_namefeild" type="text" [(ngModel)]="discountCode"></ion-input>

        </ion-item>
        <div padding class="mgtop-10">
          <button *ngIf="!showProgress" ion-button class="btn-lg" color="primary" block
                  (click)="verifyMobileNo(mobileNumber)"> {{ 'WELCOME_PAGE.BUTTONS.btn_continue' | translate }}
          </button>
          <button *ngIf="showProgress" ion-button class="btn-lg" color="primary" block>
            <ion-spinner *ngIf="showProgress" block name="dots" color="white"></ion-spinner>
          </button>
        </div>
        <p class="fs-20 center">OR</p>
        <div padding>
          <button class="btn-lg bg-basic" ion-button color="light" block (click)="skip()">
            {{ 'WELCOME_PAGE.BUTTONS.btn_skip' | translate }}
          </button>
        </div>
        <ion-item class="btn_signinCntnr no_bg">
          <div (click)="signIn()"><span class="font-fam">{{ 'WELCOME_PAGE.LABELS.lb_register_title_1' | translate }}
            </span> <span class="primary font-fam"> {{ 'WELCOME_PAGE.LABELS.lb_register_title_2' | translate }} </span>
          </div>
        </ion-item>

        <p class="p-terms mgtop-10">
          <a href="http://www.virtus-it.com/legal/">{{ 'ABOUT_US_PAGE.LABELS.lb_terms' | translate }}</a> and
          <a href="http://www.virtus-it.com/privacy-statement/">{{ 'ABOUT_US_PAGE.LABELS.lb_privacy' | translate }}</a>
        </p>

        <ion-row class="mgtop-10">
          <ion-col col-8 align-self-center offset-2>
            <img src="assets/imgs/powerby.png" width="70%">
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-row>
  </div>
</ion-content>

