edit-schedule-page {

  // $colors: (
  // primary: #0f75bc,
  // );

  .prdct_list_container {
    border-radius: 2px;
    margin: 10px 10px 10px 0px;
    height: auto;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
  .scroll-content{
    margin-bottom: 50px !important;
  }

 .loc_confirm {
   position: fixed !important;
   bottom: 0px !important;
   margin: 7px !important;
   width: 96%;
   z-index: 100;
 }
  .qtyview-style{
    width: 100% !important;
    margin: 0px 0px 10px 0px !important;
    padding: 0px 10px 5px !important;
  }
  .text-input-md{
    margin: 5px !important;
  }
.select-md {
  padding: 5px 8px 5px 16px;
}
  .mgbottomleft-5{
    margin: 0px 0px 5px 5px !important;
  }
.item-md [item-left], .item-md [item-right], .item-md [item-start], .item-md [item-end] {
  margin: 0px 8px 0px 0;
}
// .title-style1{
// position: absolute;
// top: 6px;
// }
.list-md {
  margin: 8px !important;
}
    ion-buttons button[icon-only].my-style-for-modal {
      margin: 0 6px;
      min-width: 36px;
    }
    .title-style1{
      position: absolute;
   top: 6px;
    }
    .card-ios p {
      margin: 0px 10px !important;
    }
    div.item-inner {
      padding-left: 5px !important;

    }
    .mgleft-10{
      margin-left: 10px !important;
    }
    .mgleft-15 {
      margin-left: 15px !important;
    }
    .scroll-content {
      background: #eee !important
    }
    .back-button-icon-ios {
      font-size: 2.4rem;
    }
    .item-ios {
      padding-right: 0px;
    }
    .item-ios [item-right], .item-ios [item-end] {
      margin: 0px;
    }
    .label-ios {
      margin: 0px 0px 5px;
    }
    .card-ios {
      margin: 0px 5px;
      width: 97%;
    }
    .item.item-ios .checkbox-ios {
      margin: 2px 5px 2px 2px;

    }
    .platform-ios.prdct_list_container.wek_days.border-top.list.list-ios {
      width: 100% !important;
    }
    .item-ios .radio-ios[item-left], .item-ios .radio-ios[item-start] {
      margin: 8px 5px 8px 15px;
      border: 1px solid;
      border-radius: 50%;
    }
    .list-ios {
      margin: 0px 0 30px;
    }
  }

  .schedule_pg .input-wrapper {
    padding: 8px;
  }

  .ion-icon {
    font-size: 1.5em;
  }

  .schedule_radiobtn .radio-md .radio-icon {
    display: none;
  }

  .schedule_radiobtn.item-md.item-block .item-inner, .schedule_pg .schedule_radiobtn .input-wrapper {
    padding: 0;
  }

  .schedule_radiobtn.item-md .radio-md {
    margin: 0 !important;
  }

  .schedule_radiobtn {
    width: auto !important;
    padding: 2px 0px !important;
    float: left;
    margin: 5px;
    text-align: center;
    border-radius: 15px 8px 8px 15px;
    }

  .schedule_radiobtn.item-md ion-label {
    visibility: visible;
    font-style: normal;
    background: #aaa;
    padding: 15px 35px;
    width: 100%;
    margin: 0 !important;
    color: #fff !important;
  }

  .schedule_radiobtn.item-radio-checked.item-md ion-label {
    visibility: visible;
    color: #fff !important;
    font-style: normal;
    background: #0f75bc;
    padding: 15px 35px;
    width: 100%;
    margin: 0 !important;
  }
  .prdct_list_container2{
  background: #fff;
  /* padding: 8px; */
  /* height: auto; */
  display: inline-block;
  width: 100%;
  margin: 5px 1px;
  border-top: 1px solid #ddd;
}

  .prdct_list_container1 .list.list-md {
    background: #fff;
    /* height: auto; */
    display: inline-block;
    width: 100%;
  }
  .prdct_list_container.list.list-md {
    background: #fff;
    padding: 8px;
    /* height: auto; */
    display: inline-block;
    width: 100%;
  }

  .weekdays .checkbox-md .checkbox-icon {
    display: none;
  }

  .weekdays.item-md.item-block .item-inner, .schedule_pg .weekdays .input-wrapper {
    padding: 0;
  }

  .weekdays.item-md .checkbox-md {
    margin: 0 !important;
  }

  .platform-ios.prdct_list_container .weekdays {
    padding: 0 5px !important;
    margin: 2px !important
  }

  .platform-ios.prdct_list_container.wek_days {
    display: inline-block;
  }

  .weekdays {
    width: auto !important;
    padding: 2px 0px !important;
    float: left;
    margin: 0 8px 0 0;
    //text-align: center;
  }

  .weekdays.item-md ion-label {
    visibility: visible;
    font-style: normal;
    background: #aaa;
    padding: 10px 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 100%;
    margin: 0 !important;
    color: #fff !important;
  }

  .weekdays.item-checkbox-checked.item-md ion-label {
    visibility: visible;
    color: #fff !important;
    font-style: normal;
    background: #0f75bc;
    padding: 10px 15px;
    width: 100%;
    margin: 0 !important;
  }

  .scroll-content {
    background: #eee;
  }
