.pstyle {
  text-align: justify !important;
  text-indent: 10px;
  padding-bottom: 5px;
}

.trackorder .item-inner {
  padding: $no_padding;
}

.trackorder .item-inner .label-md {
  margin: 0px !important;
}
.trackorder .btn_container {
  padding: 0 !important;
}
